*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
  }
  
  
  
  
  /*Barra de navegacao*/
  ul{
    display: flex;
    background-color: rgb(32, 32, 32);
    justify-items: center;
    align-items: center;
    border: .5px solid rgb(145, 145, 145);
    position: fixed;
   left: 0;
    height: 640px;
    right: 0;
    
    
    margin-top: -2.5em;
  }
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  ul li{
    float: center; 
  }
  li a{
  display: block;
  padding: 0px 2em;
  line-height: 3em;
  text-decoration: none;
  color: #f2f2f2;
  }
  ul{
    height: 80px;
  }
  ul h2{
    color:#BE00FF ;
    padding-left: 51px;
  }
  
  /*botao de login*/
  .tron {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    height: 20px;
    line-height: 20px;
    color: #00E2FF;
    font-family: sans-serif;
    width: 100px;
    font-size: 16px;
    font-weight: 100;
    padding: 10px;
    background-color: #000000;
    box-shadow: 1px 1px 20px 0px #000000;
    -webkit-box-shadow: 1px 1px 20px 0px #000000;
    -moz-box-shadow: 1px 1px 20px 0px #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #BE00FF 3px;
    text-decoration: none;
    float: right;
    cursor: pointer;
    text-align: center;
    margin-left: auto;
    margin-right: 10px;
    }
    
    .tron:hover {
    background: #000000;
    border: solid #19E3FF 5px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    text-decoration: none;
    }