*{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
}

/*HEADER*/
header{
  box-sizing: border-box;
  border-radius: 2px;
  display: block;
  text-align: center;
  padding: 200px;
  background-color: rgba(71, 61, 139, 0.733);
  margin-left: 50px;
  margin-right: 50px;
  background: url(./wallpaper.jpg)no-repeat;
  
  background-size: 100%;
  background-position: center;
}
header, main{
  margin-bottom: 70px;
}
.quadrado{
  box-sizing: border-box;
  text-orientation: sideways;
  margin-right: auto;
  margin-left: 0;
}
/*estilo dos textos do header*/
header h1{

  color: white;
}
header p{
  color: rgba(56, 50, 43, 0.692);
}

header button, p{margin-bottom: 30px;}





/*Main*/
/*Main abaixo do header, "em que acreditamos"*/
.acreditamos{

  text-align: center;
  border-bottom: 1px solid rgba(158, 152, 152, 0.74);
}
.acreditamos p{
  margin-left: 50px;
  margin-right: 50px;
  color:rgba(56, 50, 43, 0.692) ;
}
.acreditamos h2{
  margin-left: 50px;
  margin-right: 50px;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 40px;
  color: #000000;
}


/*Main fotos, quem sou eu*/
.meugrid {
  text-align: center;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 30px;
  
  background-color: lightskyblue;
}

.textogrid p{
  color: rgba(56, 50, 43, 0.692);

  margin-left: auto;
}
.eu {width:  200px;
border-radius: 6px;
margin-right: 50px;
margin-top: 20px;
margin-bottom: 20px;
}

/*Main, o que fazemos*/

.desenvolvemos {
  text-align: center;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 30px;

background-color: #c5c5c549;
}
.textosgridbaixo h2 {
  color: #000000;
}
.time{
  width: 600px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.textosgridbaixo{
  color: rgba(56, 50, 43, 0.692);
}





/*novidades*/
.novidades{
  text-align: center;
  border-top:1px solid rgba(158, 152, 152, 0.377) ;

}

.novidades,.finalgrid{
  margin-bottom: 50px;
}
/*Grid Final*/
.finalgrid{
  text-align: center;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.finalgrid p {
  margin-top: 15px;
}

/* Ultima informacao antes do footer*/
.infofinal{
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #c5c5c549;
  padding: 100px;
  border-radius: 6px;
}



/*rodape*/
.tt{ text-decoration: none;
color: white;
margin: 0;

}

.logott{width: 45px;
  margin: 0;


}

.insta{ text-decoration: none;
  color: white;
  margin: 0;
  
  }
  
  .logoinsta{width: 45px;
      margin: 0;
  
  
  }

footer{

  height: 200px;
  border: solid 1px #e4e4e4;
  margin-top: auto;
  background-color: rgb(125, 125, 255);
 
}
/*demais botoes da pagina */
.botoes {
background: #87929F;
background-image: -webkit-linear-gradient(top, #87929F, #000000);
background-image: -moz-linear-gradient(top, #87929F, #000000);
background-image: -ms-linear-gradient(top, #87929F, #000000);
background-image: -o-linear-gradient(top, #87929F, #000000);
background-image: linear-gradient(to bottom, #87929F, #000000);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 3px;
height: 10px;
line-height: 15px;
color: #FFFFFF;
font-family: sans-serif;
width: 160px;
font-size: 20px;
font-weight: 150;
padding: 20px;
box-shadow: 1px 1px 20px 0px #000000;
-webkit-box-shadow: 1px 1px 7px 0px #000000;
-moz-box-shadow: 1px 1px 1px 0px #000000;
text-shadow: 5px 3px 12px #000000;
border: solid #000000 1px;
text-decoration: none;
display: inline-block;
cursor: pointer;
text-align: center;
margin-bottom: 5px;

  }
  
  .botoes:hover {
border: solid #FFFFFF 1px;
background: rgba(142, 119, 190, 0.86);
background-image: -webkit-linear-gradient(top, rgba(142, 119, 190, 0.86), #010101);
background-image: -moz-linear-gradient(top, rgba(142, 119, 190, 0.86), #010101);
background-image: -ms-linear-gradient(top, rgba(142, 119, 190, 0.86), #010101);
background-image: -o-linear-gradient(top, rgba(142, 119, 190, 0.86), #010101);
background-image: linear-gradient(to bottom, rgba(142, 119, 190, 0.86), #010101);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 3px;
text-decoration: none;
  }