/*HEADER*/
.header-home {
  width: 90%;
  box-sizing: border-box;
  border-radius: 3px;
  display: flex;
  text-align: center;
  padding: auto;
  background-color: (71, 61, 139, 0.733);
  margin-left: auto;
  margin-right: auto;

  background: url(./wallpaper.jpg) no-repeat;

  background-size: auto;
  background-position: center;
}
.header-home,
main {
  margin-bottom: 70px;
}
.buttons-container {
  display: flex;
  justify-content: center;
  margin: 3.2rem 0;
}

.buttons-container a {
  width: 4rem;
  height: 1.4rem;
  border-radius: 0.8rem;
  font: 700 1.4rem Archivo;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: rgb(107, 107, 107);
  transition: color 0.2s;
}

.buttons-container a:first-child {
  margin-right: 1.5rem;
}

.buttons-container a img {
  width: 3.5rem;
}

.buttons-container a.study {
  color: rgba(56, 50, 43, 0.692);
}

.buttons-container a.study:hover {
  color: rgb(73, 105, 148);
}

.buttons-container img {
  margin-right: .5rem;
}
.quadrado {
  box-sizing: border-box;

  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font: 700 1rem Archivo;
}
/*estilo dos textos do header*/
.header-home h1 {
  color: white;
}
.header-home p {
  color: rgba(56, 50, 43, 0.692);
}

.header-home button,
p {
  margin-bottom: 30px;
}

/*Main*/
/*Main abaixo do header, "em que acreditamos"*/
.acreditamos {
  text-align: center;
  border-bottom: 1px solid rgba(158, 152, 152, 0.74);
  font: 700 1rem Archivo;
}
.acreditamos p {
  margin-left: 50px;
  margin-right: 50px;
  color: rgba(56, 50, 43, 0.692);
}
.acreditamos h2 {
  margin-left: 50px;
  margin-right: 50px;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 40px;
  color: #000000;
}

/*Main fotos, quem sou eu*/
.meugrid {
  text-align: center;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  font: 700 1rem Archivo;
  background-color: lightskyblue;
}

.textogrid p {
  color: rgba(56, 50, 43, 0.692);

  margin-left: auto;
}
.eu {
  width: 200px;
  border-radius: 6px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*Main, o que fazemos*/

.desenvolvemos {
  text-align: center;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  font: 700 1rem Archivo;
  background-color: #c5c5c549;
}
.textosgridbaixo h2 {
  color: #000000;
}
.dev {
  width: 190px;
  margin-top: 110px;
}

.textosgridbaixo {
  color: rgba(56, 50, 43, 0.692);
}

/*novidades*/
.novidades {
  text-align: center;
  border-top: 1px solid rgba(158, 152, 152, 0.377);
  font: 700 1rem Archivo;
}

.novidades,
.finalgrid {
  margin-bottom: 50px;
}
/*Grid Final*/
.finalgrid {
  text-align: center;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  font: 600 1rem Archivo;
}
.finalgrid p {
  margin-top: 15px;
}

/* Ultima informacao antes do footer*/
.infofinal {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #c5c5c549;
  padding: 100px;
  border-radius: 6px;
  font: 700 1rem Archivo;
}

/*rodape*/

footer {
  height: 200px;
  border: solid 1px #e4e4e4;
  margin-top: auto;
  background-color: rgb(125, 125, 255);
  margin-top: 0.6rem;
}
/*demais botoes da pagina */

@media (min-width: 1100px) {
  .dev {
    width: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .quadrado {
    box-sizing: border-box;

    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font: 700 1.4rem Archivo;
    margin-top: 10rem;
  }
  .buttons-container {
    justify-content: center;
  }
  .buttons-container a {
    font-size: 1.4rem;
  }
}
